@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar-holy {
    background-color: rgb(34, 34, 34);
    z-index: 8888 !important;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition: all 0.4s ease !important;
    -o-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
}

nav button.navbar-toggler:focus,
nav button.navbar-toggler:active {
    outline: none !important;
}

.icon {
    width: 80px;
    height: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
}

#navid li.active a {
    color: white !important;
}

a.nav-link:hover {
    text-decoration: none !important;
    color: white !important;
}

div.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    background-size: 100% 100%;
    height: 300px;
    border-top: 8px solid #181717;
}

section#order button {
    padding: 15px 100px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    background: transparent;
    border: none;
    border-radius: 25px;
    color: rgba(129, 129, 129, 0.863);
    box-shadow: -2px -2px 6px rgba(129, 129, 129, 0.7), 2px 2px 6px rgb(0, 0, 0);
}

section#order button:hover {
    box-shadow: inset -2px -2px 6px rgba(129, 129, 129, 0.7), inset 2px 2px 6px rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.637);
}

div.catalog {
    background-color: #222222;
    height: auto;
    padding: 50px 0;
    margin-top: -32px;
    border-top: 8px solid #181717;
}

div.catalog h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
}

.swiper-container {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-wrapper {
    margin-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide .info {
    position: relative;
    top: 300px;
    left: 70px;
}

.swiper-slide h3 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 13px;
}

div#gallery {
    background-color: #222222;
    height: auto;
    padding: 20px 0 50px 0;
}

.templatemo_portfolio img {
    width: 100%;
    margin-top: 30px;
}

.gallery-item {
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
}

.gallery-item .overlay {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
}

.gallery-item .overlay a {
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    font-size: 24px;
}

#lightbox img {
    display: block;
    position: absolute;
    box-shadow: 0 0 20px #000;
    border-radius: 1px;
    width: auto;
}

body.blurred>* {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.lightbox-button {
    position: absolute;
    z-index: 9999 !important;
    background: no-repeat center center;
    width: 38px;
    height: 38px;
    opacity: 0.4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.lightbox-button:hover {
    opacity: 1;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.lightbox-close {
    right: 30px;
    top: 5%;
    background-image: url("img/close.png");
}

.lightbox-next {
    right: 30px;
    top: 48%;
    background-image: url("img/next.png");
}

.lightbox-previous {
    left: 30px;
    top: 48%;
    background-image: url("img/previous.png");
}

#lightbox {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
    background: rgba(211, 211, 211, 0.7);
    -webkit-filter: none !important;
    filter: none;
    z-index: 9999 !important;
}

#firstcards {
    background-color: #222222;
    width: 100%;
    height: auto;
    border-top: 8px solid #181717;
    border-radius: 0;
    justify-content: center;
    padding: 50px 0;
}

#firstcards-cont {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#firstcards-cont div {
    width: 250px;
    height: 280px;
    margin: 20px 50px;
    background: transparent;
    border: none;
    border-radius: 25px;
    color: rgba(129, 129, 129, 0.863);
    box-shadow: -2px -2px 6px rgba(129, 129, 129, 0.7), 2px 2px 6px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#firstcards-cont .content i {
    font-size: 60px;
    padding-top: 30px;
}

#firstcards-cont .content h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

#firstcards-cont .content hr {
    border-top: 2px solid rgba(129, 129, 129, 0.7);
    width: 180px;
}

#firstcards-cont .content p {
    font-size: 16px;
    font-weight: 650;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section#aboutus {
    background-color: #222222;
    height: auto;
    padding: 50px 0;
    border-top: 8px solid #181717;
}

section#aboutus h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    padding-bottom: 40px;
}

.card-accord {
    height: 80px !important;
    border-bottom: 2px solid rgba(97, 93, 93, 0.637) !important;
}

#title-card:active,
#title-card:focus {
    text-decoration: none !important;
}

#title-card:hover {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.815) !important;
}

#title-card {
    font-size: 23px !important;
    font-weight: 800 !important;
    font-family: 'Archivo', sans-serif !important;
    color: rgba(153, 153, 153, 0.7) !important;
}

.body-card {
    font-size: 17px !important;
    font-weight: 500 !important;
    font-family: 'Archivo', sans-serif !important;
    color: rgba(153, 153, 153, 0.7) !important;
}

.card-wrap {
    background: transparent !important;
    border: none !important;
    border-radius: 1px !important;
    color: rgba(129, 129, 129, 0.863) !important;
    box-shadow: -2px -2px 6px rgba(129, 129, 129, 0.7), 2px 2px 6px rgb(0, 0, 0) !important;
}

#accordionExample {
    width: 50% !important;
}

section#contactus {
    background-color: #222222;
    height: auto;
    padding: 50px 0 0;
    border-top: 8px solid #181717;
}

section#contactus h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    padding-bottom: 50px;
}

.contact-section {
    padding-bottom: 50px;
}

.contact-form input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.637);
    border: 0;
    padding-bottom: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.637);
    margin-bottom: 35px;
    background-color: transparent;
}

.contact-form textarea {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.637);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.637);
    border-left: 0;
    height: 215px;
    border-right: 0;
    border-top: 0;
    resize: none;
    margin-bottom: 40px;
    background-color: transparent;
}

.contact-form button {
    color: rgba(255, 255, 255, 0.637);
    background: transparent;
    border: none;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 50px;
    border: 2px solid rgba(255, 255, 255, 0.637);
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.contact-form button:hover {
    color: #222222;
    border: 2px solid #222222;
    background-color: rgba(255, 255, 255, 0.637);
}

.contact-widget .cw-item {
    margin-bottom: 50px;
}

.contact-widget .cw-item i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.637);
}

.contact-widget .cw-item h5 {
    color: rgba(255, 255, 255, 0.637);
    font-family: 'Archivo', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-widget .cw-item ul li {
    color: rgba(255, 255, 255, 0.637);
    font-family: 'Archivo', sans-serif;
    letter-spacing: 1px;
    list-style: none;
    line-height: 28px;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
    text-decoration: none;
}

.footer {
    background-color: #000000;
    width: 100%;
    height: auto;
    border-top: 8px solid #181717;
    border-radius: 0;
    overflow: hidden;
}

.footer #copyright {
    font-size: 17px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    margin: 40px 0;
}

.newslatter-form {
    padding-bottom: 50px;
}

.newslatter-form form {
    position: relative;
}

.newslatter-form form input {
    width: 100%;
    border: 2px solid #3b3b3b;
    border-radius: 50px;
    height: 70px;
    background: transparent;
    color: rgb(192, 186, 186);
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    padding-left: 30px;
    position: relative;
}

.newslatter-form form input:focus,
.newslatter-form form button:focus {
    outline: none;
}

.newslatter-form form button {
    width: 310px;
    height: 70px;
    background: #222222;
    border: 2px solid #3b3b3b;
    color: rgb(192, 186, 186);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    position: absolute;
    right: 0;
}

.newslatter-form form button:hover {
    background: #3b3b3b;
    border: 2px solid #222222;
    color: #161616;
}

.footer-content {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 30px 100px;
    align-items: center;
}

.footer-content img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.footer-content div h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.footer-content div p {
    color: rgba(255, 255, 255, 0.637);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.footer-content .footcont1 {
    border-right: 2px solid rgba(255, 255, 255, 0.637);
    margin-right: 30px;
}

.footer-content .footcont2 {
    border-right: 2px solid rgba(255, 255, 255, 0.637);
    margin-right: 30px;
}

@media (max-width: 991px) {
    .icon {
        width: 50px;
        height: 50px;
    }

    nav ul li a {
        font-size: 15px;
        font-weight: 800;
        line-height: 50px;
    }

    nav span.navbar-toggler-icon:focus {
        outline: none !important;
    }

    div.jumbotron {
        height: 200px;
    }

    div#order button {
        padding: 10px 70px;
        font-size: 16px;
    }

    #firstcards {
        height: auto;
        padding: 45px 0;
    }

    div#gallery {
        height: auto;
    }

    #firstcards-cont div {
        width: 210px;
        height: 240px;
        margin: 20px 50px;
    }

    #firstcards-cont .content i {
        font-size: 50px;
        padding-top: 30px;
    }

    #firstcards-cont .content h3 {
        font-size: 18px;
        padding-top: 20px;
    }

    #firstcards-cont .content hr {
        width: 150px;
    }

    #firstcards-cont .content p {
        font-size: 14px;
        font-weight: 650;
    }

    .newslatter-form {
        padding-bottom: 5px;
    }

    .newslatter-form form button {
        width: 210px;
        height: 70px;
        background: #222222;
        border: 2px solid #3b3b3b;
        color: rgb(192, 186, 186);
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        border-radius: 50px;
    }

    .footer-content .footcont1 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.637);
        border-right: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-content .footcont2 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.637);
        border-right: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-content div h4 {
        text-align: center;
    }

    .footer-content div p {
        text-align: center;
    }

    .card-accord {
        height: 80px !important;
    }

    #title-card {
        font-size: 23px !important;
        font-weight: 800 !important;
    }

    #accordionExample {
        width: 75% !important;
    }

    .contact-col {
        margin: 0 auto !important;
    }

    div.contact-button {
        text-align: center !important;
        margin-bottom: 30px;
    }

    .contact-widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .contact-widget .cw-item h5,
    .contact-widget .cw-item li {
        text-align: center;
    }

    .contact-widget {
        padding-top: 70px;
    }

    #instagram {
        order: 1;
    }

    #phone {
        order: 2;
    }

    #email {
        order: 3;
    }

    .contact-widget .cw-item h5 {
        font-size: 20px;
    }

    .contact-widget .cw-item ul li {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.637);
        font-family: 'Archivo', sans-serif;
        letter-spacing: 0px;
        list-style: none;
        line-height: 28px;
    }

}

@media (max-width: 700px) {
    .icon {
        width: 40px;
        height: 40px;
    }

    .gallery-item .overlay a {
        top: 45%;
        left: 53%;
    }

    .card-accord {
        height: 65px !important;
    }

    #title-card {
        font-size: 19px !important;
    }

    .body-card {
        font-size: 17px !important;
        font-weight: 500 !important;
        font-family: 'Archivo', sans-serif !important;
        color: rgba(153, 153, 153, 0.7) !important;
    }

    #accordionExample {
        width: 75% !important;
    }

    .newslatter-form form input {
        height: 50px;
        font-size: 15px;
    }

    .newslatter-form form button {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        border-radius: 50px;
        display: block;
        font-size: 13px;
    }

    .footer-content .footcont1 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.637);
        border-right: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-content .footcont2 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.637);
        border-right: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-content div h4 {
        font-size: 18px;
    }

    .footer-content div p {
        font-size: 13px;
    }

    .footer #copyright {
        font-size: 15px;
    }
}

::-webkit-scrollbar {
    background: #ddd;
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #00000070;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, rgb(36, 34, 34), rgb(165, 164, 164));
}

::-webkit-scrollbar-button {
    background-color: rgb(34, 34, 34);
}

*::selection {
    background: rgb(221, 215, 215);
}